# First print your name in the cell below then save this file. (or something nice about your instructor)

In [2]:
# In this cell print your name 
print("Johnny Wang")
print("Georgios is the goat")

Johnny Wang
Georgios is the goat

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [6]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [11]:
# Load data here
df=pd.read_csv('data\listings.csv')

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\Johnny\AppData\Local\Temp\ipykernel_17672\1833462736.py:2: SyntaxWarning: invalid escape sequence '\l'
  df=pd.read_csv('data\listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [12]:
# 1. How many listings are there with a price less than 100? 
filtered= df['price'] < 100

print(len(df[filtered]))

22778

In [14]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = df[df['neighbourhood_group'] == 'Brooklyn']

print(len(df_bk))

18632

In [15]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
condition= (df['neighbourhood_group'] == 'Brooklyn') & (df['price'] < 100)

print(len(df[condition]))

10473

In [16]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

names = ['Michael', 'David', 'John', 'Daniel']
condition = df['host_name'].isin(names)
print(len(df[condition]))

1258

In [17]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
adjusted_price = df['neighbourhood'] == 'Williamsburg'
df['adjusted_price'] = np.where(adjusted_price, df['price'] + 100, df['price'])
print(df['adjusted_price'])

0        175
1         75
2         60
3        175
4         65
        ...
46522    145
46523     87
46524     59
46525     80
46526     66
Name: adjusted_price, Length: 46527, dtype: int64

In [19]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
private = df['room_type'] == 'Private room'
shared = df['room_type'] == 'Shared room'
total = len(df)
private_percent = len(df[private]) / total
shared_percent = len(df[shared]) / total
print(private_percent*100)
print(shared_percent*100)

45.444580566122895
2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [1]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

grouped = df.groupby('neighbourhood_group').size()
print(grouped)

NameError: name 'df' is not defined

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.

In [ ]:
# 2.5. Using `groupby`, find the mean price for each room_type.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder.

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.